$body-bg:                   #171719 !default;
$body-color:                #fff !default;

$primary: #CA0A13;

$font-family-base:            Hind, sans-serif !default;

$font-weight-bold:          600 !default;
