<nav class="navbar container navbar-expand-sm navbar-dark font-weight-bold">
  <a class="navbar-brand pr-md-1 pr-lg-2" href="/">
    <img alt="Whipped Cream" src="/assets/img/whippedcream-logo.svg"></a>
  </a>
  <button id="navBtn" class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-md-2 px-lg-4">
        <a class="nav-link text-uppercase" href="/page2">Menu1</a>
      </li>
      <li class="nav-item px-md-2 px-lg-4">
        <a class="nav-link text-uppercase" href="/page2">Menu2</a>
      </li>
      <li class="nav-item px-md-2 px-lg-4">
        <a class="nav-link text-uppercase" href="/page2">Menu3</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item px-md-2 px-lg-4">
        <input class="form-control searchbar" type="text" placeholder="Search" aria-label="Search">
      </li>
      <li class="nav-item">
        <a class="nav-link loginbutton nologin" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>